project/src/main/webapp/assets/node_modules/
target/
.swp.*
**/*.swp
*~
/project/nbactions.xml
/project/nb-configuration.xml
**/glassfish-web.xml
project/src/main/webapp/assets/js/tests/TEST-jasmine.xml
