#main-container{
    .wrapper{
        padding: 0px 20px 20px 20px;
        margin: 0px auto;
        max-width: 1300px;
    }
}

.quiz-item{
    border-radius: 4px;
    padding: 12px 12px 0px 12px;
    border: 1px #CCC dashed;
    background-color: white;

    .quiz-item-title{
        margin: 0px 0px 10px 0px;
        color: #CCC;
        cursor: move;
    }
}

.question-answer{
    label{
        display: block;
    }

    &:last-child{
        margin-bottom: 0px;
    }
}

.review-list{
    margin-bottom: 0px !important;

    li{
        h4{
            margin-top: 0px;
        }
        &:first-child{
            border-top: 0px none !important;
        }

        &:last-child{
            border-bottom: 0px none !important;
        }
        border-left: 0px none;
        border-right: 0px none;
    }
}

.page-header-button{

    .btn-header{
        position: relative;
        top: 10px;
    }

    h1{
        margin-top: 0px;
        display: inline-block;
    }
}

.scale-header{
    padding: 10px;
}

.scale-question-list{
    overflow: hidden;
    border-bottom: 1px solid darken(white, 10%);
    padding: 10px;

    &:last-child{
        border-bottom: 0px none;
    }
}

.scale-reminder{
    overflow: hidden;
    margin-bottom: 20px;
}

.scale-grid{
    overflow: hidden;

    .grid-item{
        float: left;
    }
}

.ng-invalid-required{
    border-color: #A94442 !important;
    color: #A94442 !important;
}
