<div class="page-header">
	<h1>Quizes</h1>
</div>
    <div class="alert" ng-class="{'alert-success': message.type == 'success', 'alert-danger': message.type == 'danger'}" ng-show="message">{{message.content}}</div>

<ul class="media-list">
	<li class="media" ng-repeat="quiz in quizes">
		<div class="pull-left" style="margin-right: 25px;">
			<button class="btn btn-primary btn-sm btn-block" ng-click="clone_quiz(quiz)" id="clone-quiz"><i class="fa fa-flask"></i> Clone</button>
		</div>


		<div class="media-body">
			<h4 class="media-heading"><a href="#/quiz/{{quiz.id}}/edit">{{quiz.title}}</a></h4>
			<p>
				has {{quiz.items.length}} item<span ng-show="quiz.items.length != 1">s</span> and users <span ng-show="quiz.reviewable">can</span><span ng-show="!quiz.reviewable">can't</span> give peer reviews
			</p>
			<div class="form-group">
				<label>Share</label>
				<div ng-model="quiz.id" share-quiz></div>
			</div>
		</div>
	</li>
</ul>
