<div class="page-header">
	<h1>Hi {{username}}! Check out your answers and peer reviews</h1>
</div>

<div class="panel-group" id="reviews">
  <div class="panel panel-primary" ng-repeat="quiz in quizes">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#quiz-{{$index}}" style="cursor: pointer"  data-parent="#reviews">
          <span class="badge" style="margin-right: 10px">{{quiz.reviews.length}}</span>{{quiz.title}}
        </a>
      </h4>
    </div>
    <div id="quiz-{{$index}}" class="panel-collapse collapse">
	    <ul class="list-group review-list">
        <li class="list-group-item">
            <div class="form-group question-answer" ng-include="get_answer_template(answer)" ng-repeat="answer in quiz.yourAnswer.answer"></div>
        </li>
		    <li class="list-group-item" ng-repeat="review in quiz.reviews | orderBy: rating">
		    	<h4><i class="fa fa-user text-muted"></i> {{review.reviewer}} <span class="text-success" ng-show="review.rating == 1">+1</span> <span class="text-danger" ng-show="review.rating == -1">-1</span></h4>

					{{review.review}}

					<p style="margin-top: 15px;">
						<div class="btn-group">
							<button class="btn btn-success" ng-class="{ 'active': review.rating == 1 }" ng-click="upvote_review(quiz, quiz.yourAnswer, review)"><i class="fa fa-arrow-circle-up"></i> Upvote</button>
							<button class="btn btn-danger" ng-class="{ 'active': review.rating == -1 }" ng-click="downvote_review(quiz, quiz.yourAnswer, review)"><i class="fa fa-arrow-circle-down"></i> Downvote</button>
						</div>
					</p>
		    </li>
		</ul>
    </div>
  </div>
</div>
