<ul class="nav nav-tabs" role="tablist">
  <li><a href="#/quiz/{{quiz_id}}/edit"><i class="fa fa-pencil"></i> Edit</a></li>
  <li><a href="#/quiz/{{quiz_id}}/default-answers"><i class="fa fa-list"></i> Default answers</a></li>
  <li class="active"><a href="#/quiz/{{quiz_id}}/share"><i class="fa fa-share"></i> Share</a></li>
  <li><a href="#/quiz/{{quiz_id}}/answers"><i class="fa fa-user"></i> Answers</a></li>
  <li><a href="#/quiz/{{quiz_id}}/answers"><i class="fa fa-area-chart"></i> Statistics</a></li>
  <li><a href="#/quiz/{{$parent.quiz.id}}/review-preferences"><i class="fa fa-pencil"></i> Review Preferences</a></li>
</ul>

<div class="page-header">
	<h1>Share this quiz</h1>
</div>
<ol>
  <li>
    <p>Add these tags under the head-element of your HTML-file</p>
    <div ng-model="apiurl" share-libs></div>
  </li>
  <li>
    <p>
      Add the following arguments to your <code>body</code>-tag
    </p>
    <pre>ng-app="QuizApp" ng-controller="MainController" ng-init="init({ 'api': '{{apiurl}}' })"</pre>
  </li>
  <li>
    <p>Next add this piece of code where you want your quiz</p>
    <div ng-model="quiz_id" share-quiz></div>
  </li>
  <li>
    <p>Last choose where you want the peer review form to be displayed</p>
    <div ng-model="quiz_id" share-peer-review></div>
  </li>
</ol>
