<div class="page-header page-header-button">
	<h1>Create a quiz</h1>
	<button class="btn btn-primary pull-right btn-header" ng-click="save_quiz()" id="save-quiz"><i class="fa fa-check"></i> Save</button>
</div>

<div class="alert" ng-class="{'alert-success': message.type == 'success', 'alert-danger': message.type == 'danger'}" ng-show="message">{{message.content}}</div>

<div class="row">
	<div class="col-md-8">
		<!-- Form -->
		<div class="form-group">
			<label>Title</label>
			<input type="text" placeholder="Title" id="new-quiz-title" name="title" class="form-control" ng-model="quiz.title">
		</div>

		<ul class="media-list" ui-sortable="{'handle': '.quiz-item-title', 'opacity': '0.5', 'cursor': 'move'}" ng-model="quiz.items" id="quiz-item-list">
			<li ng-repeat="item in quiz.items" class="media quiz-item" ng-include="get_item_template(item)"></li>
		</ul>
	</div>

	<div class="col-md-4">
		<div class="form-group">
			<label>Quiz items</label>
			<div class="btn-group-vertical" style="display: block">
				<button class="btn btn-default" ng-click="add_open_question()">Open question</button>
				<button class="btn btn-default" ng-click="add_text_container()">Text container</button>
				<button class="btn btn-default" ng-click="add_checkbox_question()">Checkbox question</button>
				<button class="btn btn-default" ng-click="add_multiple_choice_question()">Multiple choice question</button>
			</div>
		</div>
	</div>
</div>